* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
}

/* Flex */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-more {
  flex: 2;
}

.flex-less {
  flex: 1;
}

.gap-0 {
  margin: 0;
}

.gap-1 {
  margin: 0.25rem;
}

.bg-orange {
  background-color: #ffa500;
}

.bg-gray {
  background-color: #f5f5f5;
}

.bg-dark {
  background-color: #404040;
}

.calculator {
  width: 18.75rem;
}

.calculator-keypad-key {
  height: 3.125rem;
  width: 100%;
  font-size: 1.125rem;
  text-align: center;
  line-height: 3.125rem;
  cursor: pointer;
  border-right: 1px solid #e1d8d8;
}

.calculator-keypad-key:hover {
  background-color: #e1d8d8;
}

.calculator-display {
  height: 3.125rem;
  width: 100%;
  font-size: 1.125rem;
  color: #fff;
  text-align: right;
  line-height: 3.125rem;
  padding: 0.25rem;
}

.calculator-keypad-row {
  border-bottom: 1px solid #e0d8d8;
}

.calculator-keypad-key:first-child {
  border-left: 0;
}

.calculator-keypad-key:last-child {
  border-right: 0;
}

.calculator-keypad-row:last-child {
  border-bottom: 0;
}
