.calculator {
  width: 18.75rem;
}

.calculatorKeypadKey {
  height: 3.125rem;
  width: 100%;
  font-size: 1.125rem;
  text-align: center;
  line-height: 3.125rem;
  cursor: pointer;
  border-right: 1px solid #e1d8d8;
}

.calculatorKeypadKey:hover {
  background-color: #825096;
  color: #fff;
}

.calculatorDisplay {
  height: 3.125rem;
  width: 100%;
  font-size: 1.125rem;
  color: #fff;
  text-align: right;
  line-height: 3.125rem;
  padding: 0.25rem;
}

.calculatorKeypadRow {
  border-bottom: 1px solid #e0d8d8;
}

.calculatorKeypadKey:first-child {
  border-left: 0;
}

.calculatorKeypadKey:last-child {
  border-right: 0;
}

.calculatorKeypadRow:last-child {
  border-bottom: 0;
}
